<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Đăng nhập</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="row">
                    <div class="col-3">
                        <img alt="EVNHANOI" src="/img/logo-small.svg">
                    </div>
                    <div class="col-9">
                        <nav class="nav justify-content-end">
                            <a class="nav-link active" th:href="@{/index}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                     height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                <path fill-rule="evenodd"
                                      d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                                </svg>
                            </a>
                            <a class="nav-link" th:href="@{/users}">Quản lý người dùng</a>
                            <a class="nav-link" th:href="@{/register}">Đăng ký</a>
                            <a class="nav-link" th:href="@{/login}">Đăng nhập</a>
                            <a class="nav-link" th:href="@{/calculator}">Tính tiền điện</a>
                            <a class="nav-link" th:href="@{/customer}">Đăng ký điện</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="img-file">
                <img src="/img/signin_banner.png" alt=""style="width:100%">
            </div>
        </div>
        <div class="container text-center">
            <div>
                <h1>Đăng nhập người dùng</h1>
            </div>
            <div th:if="${param.error}">
                <p class="text-danger">Sai tên người dùng hoặc mật khẩu.</p>
            </div>
            <form th:action="@{/login}" th:object="${user}" 
                  method="post" style="max-width: 600px; margin: 0 auto;">
                <div class="m-3">
                    <div class="form-group row">
                        <label class="col-4 col-form-label">E-mail: </label>
                        <div class="col-8">
                            <input type="email" name="email" class="form-control" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Mật khẩu: </label>
                        <div class="col-8">
                            <input type="password" name="password" class="form-control" 
                                   required minlength="6" maxlength="30"/>
                        </div>
                    </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Đăng nhập</button> 
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>